body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.title {
  font-size: xx-large;
}

.navbar {
  background-color: #ADE5C2;
  padding: 20px;
  display: block;
}

label {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px
}

form {
  margin: 20px;
  display: inline-block;
  width: 300px;
  text-align: center;
}

input[type=text] {
  display: inline-block;
  margin-bottom: 20px;
  width: 300px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: 4px;
  text-align: center;
}

input[type=submit] {
  margin-top: 10px;
  padding: 10px;
  font-size: larger;
  color: white;
  background-color: green;
  border: none;
  border-radius: 4px;
}

.basic-multi-select {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

.header {
  margin: 20px;
}

.column1 {
  float: left;
  width: 60%;
}

.column2 {
  float: left;
  width: 40%
}

.checkbox input[type=checkbox], label {
  display: inline-block;
  padding: 5px;
}

#deck {
  margin: 20px
}

#deck h2 {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 10px;
}

.sectionheader {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

#deckheader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
