body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.navbar {
  background-color: #ADE5C2;
  padding: 20px;
  display: block;
}

.form {
  text-align: left;
  display: block;
}

label {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px
}

input[type=text] {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: 4px
}

input[type=submit] {
  margin-top: 10px;
  padding: 10px;
  font-size: larger;
  color: white;
  background-color: green;
  border: none;
  border-radius: 4px;
}