body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.title {
  font-size: xx-large;
}

.navbar {
  background-color: #ADE5C2;
  padding: 20px;
  display: block;
}

form {
  margin: 20px;
  display: inline-block;
  width: 300px;
  text-align: center;
}

label {
  display: block;
  margin-top: 5px;
  font-weight: bold;
}

input[type=text] {
  display: inline-block;
  margin-bottom: 20px;
  width: 300px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: 4px;
  text-align: center;
}

input[type=submit] {
  margin-top: 10px;
  padding: 10px;
  font-size: larger;
  color: white;
  background-color: green;
  border: none;
  border-radius: 4px;
}

.basic-multi-select {
  margin-bottom: 20px;
}

.header {
  margin: 20px;
}

.column1 {
  float: left;
  width: 60%;
}

.column2 {
  float: left;
  width: 40%
}

input[type=checkbox], label {
  display: inline-block;
  padding: 5px;
}

#deck {
  margin: 20px;
  text-align: center;
}

.decktitle {
  height: 40px;
}

.decktitle input[type=text] {
  display: inline-block;
  font-size: large;
}

.decksubtitle {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.icon {
  width: 30px;
}

.decksubtitle h3 {
  font-size: x-large;
}

.sectionheader {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.success {
  position: fixed;
  background-color: darkgreen;
  color: white;
  width: 225px;
  height: 75px;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 5px;
  border-radius: 10px
}

.failure {
  position: fixed;
  background-color: darkred;
  color: white;
  width: 225px;
  height: 75px;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 5px;
  border-radius: 10px
}